body {
    font-family: 'silom';
    background-color: #1d1d1d;
    color: white;
}


p {
    font-family: 'arial';
}

tbody tr {
    font-family: 'arial';
}

h2 {
    padding-left: 2%;
}


.box2, .box3,{
    background-color: #3d3d3d;
    border-radius: 5px;
    padding: 2%;
}

 .box4 {
    background-color: rgba(0,0,150,0.5);
    border-radius: 5px;
}

.box5 {
    background-color: #111;
}

.box1 img{
    float: right;
    width: 30%;
    margin: 1%;
    padding-bottom: 1%;
}
.box1 h1 {
    float: left;
    margin: 1%;
}

.box9 p {
    padding: 1%;
}

div {
    border: 2px solid #707070;
    padding: 2%;
}


thead {
    text-align: left;
}

table {
    width: 100%;
//     padding-left: 2%;
}
